@page
@model MartinCostello.Website.Pages.Tools.ToolsModel
@{
    ViewBag.Title = ".NET Development Tools";
    ViewBag.MetaDescription = ".NET Development Tools for generating GUIDs, ASP.NET machine keys and hashing text.";
}
@section meta {
    <link name="api-guid" rel="nofollow" href="~/tools/guid" />
    <link name="api-hash" rel="nofollow" href="~/tools/hash" />
    <link name="api-machine-key" rel="nofollow" href="~/tools/machinekey" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=" crossorigin="anonymous" defer></script>
}
<h1>@ViewBag.Title</h1>
<div class="card">
    <div class="card-body">This page contains tools and links to common development tools.</div>
</div>
<noscript>
    <hr />
    <div class="alert alert-warning" role="alert">JavaScript must be enabled in your browser to use these tools.</div>
</noscript>
<hr />
<div>
    @await Html.PartialAsync("_GenerateGuid")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateHash")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateMachineKey")
</div>
