@page
@model MartinCostello.Website.Pages.Tools.ToolsModel
@{
    ViewBag.Title = ".NET Development Tools";
    ViewBag.MetaDescription = ".NET Development Tools for generating GUIDs, ASP.NET machine keys and hashing text.";
}
@section meta {
	@*
      TODO Use routes once issue is fixed: https://github.com/dotnet/aspnetcore/issues/35592
	*@
    <link name="api-guid" rel="nofollow" href="~/tools/guid" />
    <link name="api-hash" rel="nofollow" href="~/tools/hash" />
    <link name="api-machine-key" rel="nofollow" href="~/tools/machinekey" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js" integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=" crossorigin="anonymous" defer></script>
    <environment names="Development">
        <script src="~/assets/js/site.tools.js" defer asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/js/site.tools.min.js" defer asp-append-version="true"></script>
    </environment>
}
@section stylesHead {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" async>
}
<h1>@ViewBag.Title</h1>
<div class="card">
    <div class="card-body">This page contains tools and links to common development tools.</div>
</div>
<noscript>
    <hr />
    <div class="alert alert-warning" role="alert">JavaScript must be enabled in your browser to use these tools.</div>
</noscript>
<hr />
<div>
    @await Html.PartialAsync("_GenerateGuid")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateHash")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateMachineKey")
</div>
