@page "/error"
@model MartinCostello.Website.Pages.ErrorModel
@{
    ViewBag.MetaDescription = string.Empty;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = "Error";
    ViewBag.Message = ViewBag.Message ?? "An error occurred while processing your request.";
}
<h1 class="text-danger">Error (HTTP @(Model.ErrorStatusCode))</h1>
<h2 class="text-danger">@ViewBag.Message</h2>
