@page "/"
@model MartinCostello.Website.Pages.Home.IndexModel
@{
    ViewBag.Title = "Home Page";
}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Martin Costello</h1>
        <p class="col-md-8 fs-4">.NET Software Developer &amp; Tester</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="h3">Projects</h2>
        <p>Information about development projects I manage and/or work on.</p>
        <p>
            <a asp-page="/Projects/Index" class="btn btn-lg btn-primary" role="button">
               Learn more &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="h3">Blog</h2>
        <p>I occasionally blog about topics related to .NET development.</p>
        <p>
            <a href="~/home/blog" class="btn btn-lg btn-primary" rel="noopener" role="button" target="_blank">
               Visit blog &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="h3">Tools</h2>
        <p>A few simple tools I use regularly to develop .NET applications.</p>
        <p>
            <a asp-page="/Tools/Index" class="btn btn-lg btn-primary" role="button">
               Visit tools &raquo;
            </a>
        </p>
    </div>
</div>
