@model string
@{
    var user = "martincostello";
}
<a class="github-button" href="https://github.com/@user/@Model" data-icon="octicon-star" data-style="mega" data-count-href="/@user/@Model/stargazers" data-count-api="/repos/@user/@Model#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star @user/@Model on GitHub">Star</a>
