@model string
@{
    var user = "martincostello";
}
<a class="github-button" href="https://github.com/@user/@Model/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/@user/@Model/network" data-count-api="/repos/@user/@Model#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork @user/@Model on GitHub">Fork</a>
