@inject SiteOptions Options
@{
    ViewBag.Title = "Projects";
    ViewBag.MetaDescription = "About Martin Costello's personal projects.";
}
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">SQL LocalDB Wrapper</div>
            <div class="panel-body">
                <p>
                    A .NET assembly for using the Microsoft SQL Server Express
                    <a id="link-localdb" href="https://technet.microsoft.com/en-us/library/hh234692.aspx" title="Learn about the SQL Server Express LocalDB API">
                        LocalDB Instance API
                    </a>.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "sqllocaldb")
                    @await Html.PartialAsync("_GitHubFork", "sqllocaldb")
                </p>
                <p>
                    <a id="link-repo-localdb" href="https://github.com/martincostello/sqllocaldb" target="_blank" title="View the project on GitHub" class="btn btn-default">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">BrowserStack Automate REST API Client</div>
            <div class="panel-body">
                <p>
                    A .NET client for the
                    <a id="link-browserstack-automate" href="https://www.browserstack.com/automate" title="Learn about BrowserStack Automate">
                        BrowserStack Automate
                    </a>
                    REST API.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "browserstack-automate")
                    @await Html.PartialAsync("_GitHubFork", "browserstack-automate")
                </p>
                <p>
                    <a id="link-repo-browserstack" href="https://martincostello.github.io/browserstack-automate/" target="_blank" title="View the project on GitHub" class="btn btn-default">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Project Euler</div>
            <div class="panel-body">
                <p>
                    A C# implementation of solutions for
                    <a id="link-project-euler" href="https://projecteuler.net/" title="View Project Euler" target="_blank">
                        Project Euler
                    </a>
                    written as a console application.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "project-euler")
                    @await Html.PartialAsync("_GitHubFork", "project-euler")
                </p>
                <p>
                    <a id="link-repo-euler" href="https://github.com/martincostello/project-euler" target="_blank" title="View the project on GitHub" class="btn btn-default">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Blog</div>
            <div class="panel-body">
                <p>
                    Martin's
                    <a id="link-blog-project" href="@Options?.ExternalLinks?.Blog?.AbsoluteUri" title="Visit Martin's blog" target="_blank">blog</a>,
                    a static site implemented using <a href="https://middlemanapp.com/" title="View the Middleman website" target="_blank">Middleman</a>.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "blog")
                    @await Html.PartialAsync("_GitHubFork", "blog")
                </p>
                <p>
                    <a id="link-repo-blog" href="https://github.com/martincostello/blog" target="_blank" title="View the project on GitHub" class="btn btn-default">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">API</div>
            <div class="panel-body">
                <p>
                    A <a id="link-api" href="@Options?.ExternalLinks?.Api?.AbsoluteUri" title="Visit the API" target="_blank">REST API</a>
                    used as an excercise in implementing an ASP.NET Core website.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "api")
                    @await Html.PartialAsync("_GitHubFork", "api")
                </p>
                <p>
                    <a id="link-repo-api" href="https://github.com/martincostello/api" target="_blank" title="View the project on GitHub" class="btn btn-default">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">This website</div>
            <div class="panel-body">
                <p>
                    The very website you're looking at
                    <a id="link-self-source" href="https://github.com/martincostello/website/blob/@GitMetadata.Commit/src/Website/Views/Projects/Index.cshtml#L@(this.CurrentLineNumber())" title="View the source for this page">
                        right now
                    </a>
                    which is implemented using ASP.NET Core.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "website")
                    @await Html.PartialAsync("_GitHubFork", "website")
                </p>
                <p>
                    <a id="link-repo-website" href="https://github.com/martincostello/website" target="_blank" title="View the project on GitHub" class="btn btn-default">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script async defer src="https://buttons.github.io/buttons.js"></script>
}
