@inject SiteOptions Options
@{
    ViewBag.Title = "Projects";
    ViewBag.MetaDescription = "About Martin Costello's personal projects.";
}
<br />
<div class="row">
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">SQL LocalDB Wrapper</div>
            <div class="card-body">
                <p>
                    A .NET assembly for using the Microsoft SQL Server Express
                    <a id="link-localdb" href="https://technet.microsoft.com/en-us/library/hh234692.aspx" title="Learn about the SQL Server Express LocalDB API">
                        LocalDB Instance API
                    </a>.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "sqllocaldb")
                    @await Html.PartialAsync("_GitHubFork", "sqllocaldb")
                </p>
                <p>
                    <a id="link-repo-localdb" href="https://github.com/martincostello/sqllocaldb" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">HttpClient Interception</div>
            <div class="card-body">
                <p>
                    A .NET Standard library for
                    <a id="link-httpinterception" href="https://tech.just-eat.com/2017/10/02/reliably-testing-http-integrations-in-a-dotnet-application/" title="Reliably Testing HTTP Integrations in a .NET Application">
                        intercepting server-side HTTP dependencies
                    </a>.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "justeat/httpclient-interception")
                    @await Html.PartialAsync("_GitHubFork", "justeat/httpclient-interception")
                </p>
                <p>
                    <a id="link-repo-httpinterception" href="https://github.com/justeat/httpclient-interception" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">Apple Pay JS Sample Code</div>
            <div class="card-body">
                <p>
                    Sample code for integrating <a id="link-apple-pay-sample" href="https://developer.apple.com/reference/applepayjs/" rel="noopener" target="_blank" title="View the Apple Pay JS documentation">Apple Pay JS</a> into an ASP.NET Core website.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "justeat/ApplePayJSSample")
                    @await Html.PartialAsync("_GitHubFork", "justeat/ApplePayJSSample")
                </p>
                <p>
                    <a id="link-repo-apple-pay-sample" href="https://github.com/justeat/ApplePayJSSample" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">Alexa London Travel</div>
            <div class="card-body">
                <p>
                    An Alexa skill that uses the <a id="link-tfl-api" href="https://api.tfl.gov.uk/" rel="noopener" target="_blank" title="View the TfL API">TfL API</a>. You can find the skill on <a id="link-amazon-skill" href="https://www.amazon.co.uk/dp/B01NB0T86R" rel="noopener" target="_blank" title="London Travel on amazon.co.uk">amazon.co.uk</a>.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "alexa-london-travel")
                    @await Html.PartialAsync("_GitHubFork", "alexa-london-travel")
                </p>
                <p>
                    <a id="link-repo-alexa" href="https://github.com/martincostello/alexa-london-travel" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">Alexa London Travel Site</div>
            <div class="card-body">
                <p>
                    A companion website for the London Travel Alexa skill using ASP.NET Core Identity.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "alexa-london-travel-site")
                    @await Html.PartialAsync("_GitHubFork", "alexa-london-travel-site")
                </p>
                <p>
                    <a id="link-repo-alexa-site" href="https://github.com/martincostello/alexa-london-travel-site" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">Blog</div>
            <div class="card-body">
                <p>
                    Martin's
                    <a id="link-blog-project" href="@Options?.ExternalLinks?.Blog?.AbsoluteUri" title="Visit Martin's blog" rel="noopener" target="_blank">blog</a>,
                    a static site implemented using <a href="https://middlemanapp.com/" title="View the Middleman website" rel="noopener" target="_blank">Middleman</a>.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "blog")
                    @await Html.PartialAsync("_GitHubFork", "blog")
                </p>
                <p>
                    <a id="link-repo-blog" href="https://github.com/martincostello/blog" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">BrowserStack Automate API Client</div>
            <div class="card-body">
                <p>
                    A .NET client for the
                    <a id="link-browserstack-automate" href="https://www.browserstack.com/automate" title="Learn about BrowserStack Automate">
                        BrowserStack Automate
                    </a>
                    REST API.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "browserstack-automate")
                    @await Html.PartialAsync("_GitHubFork", "browserstack-automate")
                </p>
                <p>
                    <a id="link-repo-browserstack" href="https://martincostello.github.io/browserstack-automate/" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">Project Euler</div>
            <div class="card-body">
                <p>
                    A C# implementation of solutions for
                    <a id="link-project-euler" href="https://projecteuler.net/" title="View Project Euler" rel="noopener" target="_blank">
                        Project Euler
                    </a>
                    written as a console application.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "project-euler")
                    @await Html.PartialAsync("_GitHubFork", "project-euler")
                </p>
                <p>
                    <a id="link-repo-euler" href="https://github.com/martincostello/project-euler" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-header">This website</div>
            <div class="card-body">
                <p>
                    The very website you're looking at
                    <a id="link-self-source" href="https://github.com/martincostello/website/blob/@GitMetadata.Commit/src/Website/Views/Projects/Index.cshtml#L@(this.CurrentLineNumber())" title="View the source for this page">
                        right now
                    </a>
                    which is implemented using ASP.NET Core.
                </p>
                <p>
                    @await Html.PartialAsync("_GitHubStar", "website")
                    @await Html.PartialAsync("_GitHubFork", "website")
                </p>
                <p>
                    <a id="link-repo-website" href="https://github.com/martincostello/website" rel="noopener" target="_blank" title="View the project on GitHub" class="btn btn-lg btn-secondary">
                        Visit project site &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script async defer src="https://buttons.github.io/buttons.js"></script>
}
