@{
    ViewBag.Title = "Projects";
    ViewBag.MetaDescription = "About Martin Costello's personal projects.";
}
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">SQL LocalDB Wrapper</div>
            <div class="panel-body">
                <p>A .NET assembly for accessing the Microsoft SQL Server LocalDB native API.</p>
                <p>
                    <iframe src="https://ghbtns.com/github-btn.html?user=martincostello&repo=sqllocaldb&type=star&count=true" frameborder="0" scrolling="no" width="170" height="20"></iframe>
                    <iframe src="https://ghbtns.com/github-btn.html?user=martincostello&repo=sqllocaldb&type=fork&count=true" frameborder="0" scrolling="no" width="170" height="20"></iframe>
                </p>
                <p><a href="https://github.com/martincostello/sqllocaldb" target="_blank" class="btn btn-default">Visit project site &raquo;</a></p>
                <p>
                <script type="text/javascript" src="https://www.openhub.net/p/644575/widgets/project_factoids_stats.js"></script></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">BrowserStack Automate Client API</div>
            <div class="panel-body">
                <p>.NET client for the BrowserStack Automate REST API</p>
                <p>
                    <iframe src="https://ghbtns.com/github-btn.html?user=martincostello&repo=browserstack-automate&type=star&count=true" frameborder="0" scrolling="no" width="170" height="20"></iframe>
                    <iframe src="https://ghbtns.com/github-btn.html?user=martincostello&repo=browserstack-automate&type=fork&count=true" frameborder="0" scrolling="no" width="170" height="20"></iframe>
                </p>
                <p><a href="https://martincostello.github.io/browserstack-automate/" target="_blank" class="btn btn-default">Visit project site &raquo;</a></p>
                <p>
                    <script type="text/javascript" src="https://www.openhub.net/p/browserstack-automate/widgets/project_factoids_stats?format=js"></script>
                </p>
            </div>
        </div>
    </div>
</div>
