body {
    padding-top: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}

.panel-heading {
    font-weight: bold;
}

textarea {
   resize: none;
}
