<form class="form-horizontal" id="generate-guid-container" role="form">
    <fieldset>
        <legend>GUID Generator</legend>
        <a name="GenerateGuid"></a>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-7">
                <div class="input-group">
                    @Html.TextBox("text-guid", @Guid.NewGuid().ToString(), new { @class = "form-control code", id = "text-guid", @readonly = string.Empty })
                    <span class="input-group-btn">
                        <button id="copy-guid" class="btn btn-default copy-button" data-clipboard-target="#text-guid" title="Copy to clipboard">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <a id="generate-guid" class="btn btn-primary" role="button" href="#GenerateGuid" rel="nofollow" title="Generate a new GUID">New GUID</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="guid-format">Format?</label>
            <div class="col-md-7">
                <select id="guid-format" class="form-control" title="Select the format to generate a GUID in">
                    <option value="D" selected>Default</option>
                    <option value="N">Numeric</option>
                    <option value="B">With braces</option>
                    <option value="P">With parentheses</option>
                    <option value="X">Hexadecimal with braces</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-7">
                <div class="checkbox">
                    <label for="guid-uppercase"><input id="guid-uppercase" type="checkbox" value="false" title="Select to generate with upper case letters">Upper case?</label>
                </div>
            </div>
        </div>
    </fieldset>
</form>
