<form id="generate-hash-container" role="form">
    <fieldset>
        <legend>Hash Generator</legend>
        <a name="GenerateHash"></a>
        <div class="form-group">
            <div class="row">
                <label class="col-form-label col-lg-2 text-lg-right" for="hash-algorithm">Algorithm?</label>
                <div class="col-lg-7">
                    <select id="hash-algorithm" class="form-control form-control-lg" title="Select the hash algorithm to use">
                        <option value="MD5">MD5</option>
                        <option value="SHA1" selected>SHA-1</option>
                        <option value="SHA256">SHA-256</option>
                        <option value="SHA384">SHA-384</option>
                        <option value="SHA512">SHA-512</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-form-label col-lg-2 text-lg-right" for="hash-format">Format?</label>
                <div class="col-lg-7">
                    <select id="hash-format" class="form-control form-control-lg" title="Select the hash output format to use">
                        <option value="base64" selected>Base 64</option>
                        <option value="hexadecimal">Hexadecimal</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-form-label col-lg-2 text-lg-right" for="hash-plaintext">Plaintext</label>
                <div class="col-lg-7">
                    <textarea id="hash-plaintext" class="form-control no-resize" placeholder="Enter text to hash" rows="4" spellcheck="false"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="offset-lg-2 col-lg-6">
                    <a id="generate-hash" class="btn btn-primary" href="#GenerateHash" role="button" rel="nofollow" data-ga-category="tools" data-ga-label="Generate hash">Generate Hash</a>
                </div>
            </div>
        </div>
        <div id="hash-container" class="form-group d-none">
            <div class="row">
                <label for="text-hash" class="col-form-label col-lg-2 text-lg-right">Hash</label>
                <div class="col-lg-7">
                    <div class="input-group">
                        @Html.TextBox("text-hash", string.Empty, new { @class = "form-control code", id = "text-hash", @readonly = string.Empty })
                        <span class="input-group-append">
                            <button id="copy-hash" class="btn btn-lg btn-secondary copy-button" data-clipboard-target="#text-hash" title="Copy to clipboard" data-ga-category="tools" data-ga-label="Copy hash">
                                <i class="far fa-clipboard"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
