@{
    ViewBag.Title = ".NET Development Tools";
    ViewBag.MetaDescription = ".NET Development Tools for generating GUIDs, machine keys and hashing text.";
}
<h1>@ViewBag.Title</h1>
<div class="panel panel-default">
    <div class="panel-body">This page contains tools and links to common .NET development tools.</div>
</div>
