@inject BowerVersions Bower
@inject SiteOptions Options
@{
    ViewBag.Title = ".NET Development Tools";
    ViewBag.MetaDescription = ".NET Development Tools for generating GUIDs, machine keys and hashing text.";

    var clipboardVersion = Bower["clipboard"];
    var toolsUri = Options.ExternalLinks.Api.AbsoluteUri + "tools";
}
@section meta {
   <link rel="api-guid" href="@toolsUri/guid" />
   <link rel="api-hash" href="@toolsUri/hash" />
   <link rel="api-machine-key" href="@toolsUri/machinekey" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/@clipboardVersion/clipboard.min.js" integrity="sha256-COWXDc7n7PAqsE3y1r4CVopxWU9JI0kenz6K4zBqhT8=" crossorigin="anonymous"
            asp-fallback-src="~/lib/clipboard/dist/clipboard.min.js"
            asp-fallback-test="window.Clipboard">
    </script>
}
<h1>@ViewBag.Title</h1>
<div class="panel panel-default">
    <div class="panel-body">This page contains tools and links to common development tools.</div>
</div>
<div>
    @await Html.PartialAsync("_GenerateGuid")
</div>
<div>
    @await Html.PartialAsync("_GenerateHash")
</div>
<div>
    @await Html.PartialAsync("_GenerateMachineKey")
</div>
