@section meta {
   <link rel="api-guid" href="@Url.RouteUrl(SiteRoutes.GenerateGuid)" />
   <link rel="api-hash" href="@Url.RouteUrl(SiteRoutes.GenerateHash)" />
   <link rel="api-machine-key" href="@Url.RouteUrl(SiteRoutes.GenerateMachineKey)" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js" integrity="sha256-El0fEiD3YOM7uIVZztyQzmbbPlgEj0oJVxRWziUh4UE=" crossorigin="anonymous" defer></script>
    <environment names="Development">
        <script src="~/assets/js/site.tools.js" defer asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/assets/js/site.tools.min.js" defer asp-append-version="true"></script>
    </environment>
}
<h1>@ViewBag.Title</h1>
<div class="panel panel-default">
    <div class="panel-body">This page contains tools and links to common development tools.</div>
</div>
<noscript>
    <div class="alert alert-warning" role="alert">JavaScript must be enabled in your browser to use these tools.</div>
</noscript>
<hr />
<div>
    @await Html.PartialAsync("_GenerateGuid")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateHash")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateMachineKey")
</div>
