@inject SiteOptions Options
@{
    string toolsUri = ViewBag.ToolsUri;
}
@section meta {
   <link rel="api-guid" href="@toolsUri/guid" />
   <link rel="api-hash" href="@toolsUri/hash" />
   <link rel="api-machine-key" href="@toolsUri/machinekey" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js" integrity="sha256-dFEb+kXsOlXDFU4a9+EwfHE8z1hUJhEGTUb3zkhybYM=" crossorigin="anonymous"></script>
}
<h1>@ViewBag.Title</h1>
<div class="panel panel-default">
    <div class="panel-body">This page contains tools and links to common development tools.</div>
</div>
<noscript>
    <div class="alert alert-warning" role="alert">JavaScript must be enabled in your browser to use these tools.</div>
</noscript>
<hr />
<div>
    @await Html.PartialAsync("_GenerateGuid")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateHash")
</div>
<hr />
<div>
    @await Html.PartialAsync("_GenerateMachineKey")
</div>
